header {
    height: 3em;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
    text-align: center;
}
#card {
    margin: auto;
    background-image: linear-gradient(lightblue, aqua);
    border: solid 10px aqua;
    width: 33%;
    border-radius: 20px;
}
img {
    width: 40%;
    height: 40%;
    border-radius: 10px;
    padding-top: 5px;
}
.Images {
    margin: auto;
    width: 95%;
    background-color: white;
    border-radius: 50px;
}
#card:hover {
    border-radius: 20px 20px 100px 100px;
    padding-bottom: 2em;
    transition-duration: 1s;
}
a {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-decoration: none;
}